@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer utilities {
  .bg-brand-white {
    background-color: #f0f1fa;
  }
  .bg-brand-blue1 {
    background-color: #0a21c0;
  }
  .bg-brand-blue2 {
    background-color: #b8bee3;
  }
  .bg-brand-navy {
    background-color: #050a44;
  }
  .bg-brand-black {
    background-color: #141619;
  }
  .bg-brand-gray1 {
    background-color: #2c2e3a;
  }
  .bg-brand-gray2 {
    background-color: #b3b4bd;
  }
  .text-brand-white {
    color: #f0f1fa;
  }
  .text-brand-blue {
    color: #0a21c0;
  }
  .text-brand-navy {
    color: #050a44;
  }
  .text-brand-black {
    color: #141619;
  }
  .text-brand-gray1 {
    color: #2c2e3a;
  }
  .text-brand-gray2 {
    color: #b3b4bd;
  }
  .bg-blue-gradient {
    background-image: linear-gradient(
      305deg,
      hsl(235deg 86% 14%) 0%,
      hsl(240deg 51% 21%) 2%,
      hsl(243deg 38% 28%) 5%,
      hsl(243deg 29% 34%) 8%,
      hsl(243deg 23% 40%) 13%,
      hsl(242deg 18% 47%) 18%,
      hsl(241deg 17% 54%) 24%,
      hsl(240deg 18% 61%) 32%,
      hsl(239deg 19% 67%) 43%,
      hsl(238deg 21% 74%) 58%,
      hsl(236deg 23% 81%) 78%,
      hsl(235deg 28% 89%) 92%,
      hsl(234deg 50% 96%) 100%
    );
  }
}
